@import '~@schibstedspain/sui-theme/lib/index';
@import '~@s-ui/react-atom-input/lib/index';

$c-movies-search-box: inherit !default;

.mv-MovieSearchBox{
    color: $c-movies-search-box;
    margin-bottom: $m-l;
}