@import '~@schibstedspain/sui-theme/lib/index';
@import '../../searchBox/src/index';
@import '../../searchList/src/index';

$bg-movies-search: $c-accent-light !default;

.mv-MoviesSearch {
  font-family: $ff-sans-serif;
  background-color: $bg-movies-search;
  padding: $p-xl;

  &-item {
    &Image {
      width: 100%;
    }
  }
}